body, h1, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


#main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    #main {
        padding: 10px;
    }
    h1 {
        font-size: 28px;
    }
    .countDown {
        font-size: 20px;
    }
}
